.flexed_details{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.flexed_details :nth-child(2){
   max-width: 9rem;
}
.price{
   margin: 0 auto;
   font-weight: bold;
   color: var(--text-grey);
}
.price > :last-child{
   max-width: 5rem;
   margin-left: .125rem;
   border-radius: 0 3px 3px 0;
}