@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply h-6 w-6 cursor-pointer hover:scale-110 transition-all duration-100 ease-out;
  }

  .btn {
    @apply cursor-pointer hover:scale-110 transition-transform transition-colors duration-100 ease-out;
  }
  .stack {
    @apply flex flex-col items-center;
  }
}

/*
* Hiding the scrollbar 
*/
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
.disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

/* 
* CSS Resets and Globals
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}
:root {
  --marshmallow-pink: #fcd0d0;
  --accent: hsl(28, 87%, 75%);
  --accent-dark: hsl(28, 70%, 60%);
  --surface-dark: hsl(240, 25%, 10%);
  --surface-light: hsl(28, 0%, 95%);
  --accent-transparent: hsla(28, 87%, 75%, 0.596);
  --surface-dark-transparent: hsla(240, 25%, 10%, 0.5);
  --surface-light-transparent: hsla(0, 0%, 80%, 0.747);
  --surface-1: hsl(28, 0%, 80%);
  --surface-2: hsl(28, 0%, 60%);
  --surface-3: hsl(28, 0%, 40%);
  --text-grey: hsl(28, 0%, 20%);
  --text-light: white;
  --text-dark: var(--surface-dark);
}
html,
body {
  background: var(--surface-light);
  color: var(--text-dark);
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Quicksand", sans-serif;
}
p {
  max-width: 70ch;
  line-height: 1.5;
  font-size: 1rem;
}
p > span {
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
form {
  padding: 0 1rem;
}
form > :first-child {
  display: -ms-grid;
  display: grid;
}
input,
textarea,
select {
  background-color: var(--surface-light);
  padding: 0.5rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}
textarea {
  resize: none;
  height: 10rem;
}
small {
  color: var(--accent-dark);
}
input.date {
  color: var(--surface-2);
  font-size: 1.1rem;
}
label {
  font-weight: bolder;
  color: var(--text-grey);
}
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--accent);
}
.carousel_text {
  overflow: clip;
  text-overflow: ellipsis;
  white-space: pre;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  /* border: 1px solid hotpink; */
  margin-bottom: 4rem;
  padding-top: 2.5rem;
}
.image {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  /* border: 1px solid hotpink; */
}
.cinema_image {
  aspect-ratio: 3 / 5;
}
.title {
  font-size: 1.5rem;
  font-weight: bolder;
}
.details {
  padding: 1rem;
}
.details > *:not(:nth-child(1)) {
  padding-top: 0.875rem;
}
.date_and_time {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent);
}

/* 
/* Divider
 */
.divider {
  margin-top: 1rem;
  /* padding: 0 1rem; */
}
.divider p {
  border-bottom: 3px solid var(--accent);
  padding: 0 0.75rem;
  font-size: 1.25rem;
  font-weight: bolder;
}

/* 
 * Card Preview
*/
.card-preview {
  position: relative;
  display: flex;
  padding: 0 1.5rem;
  /* border: 1px solid hotpink; */
}
.card-preview .title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 0.9;
}
.card-preview .details {
  display: -ms-grid;
  display: grid;
}
.date {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 100;
  /* text-align: center; */
  color: black;
}
.date > span {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  color: var(--accent);
}

.date_and_time {
  color: var(--accent-dark);
}
.card-container {
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 2rem 1rem;
  /* scroll-snap-type: mandatory; */
  /* scroll-behavior: snap; */
}
.card-container .image {
  height: 10rem;
}

.card-container > *:not(:nth-child(1)) {
  border-left: 1px solid var(--accent);
}
.card-container::before {
  content: "<";
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  left: 0.5rem;
  aspect-ratio: 1 / 3;
  height: 3rem;
  padding: 0 0.375rem;
  background-color: hsla(0, 0%, 50%, 0.37);
  cursor: pointer;
  color: grey;
  font-size: 20px;
  z-index: 5;
}
.card-container::after {
  content: ">";
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 0.5rem;
  aspect-ratio: 1 / 3;
  height: 3rem;
  padding: 0 0.375rem;
  background-color: hsla(0, 0%, 50%, 0.37);
  cursor: pointer;
  color: grey;
  font-size: 20px;
  z-index: 5;
}

.btn {
  margin: 1rem 0;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  background-color: var(--accent);
  color: var(--text-dark);
  text-transform: uppercase;
  font-weight: bold;
  /* letter-spacing: 1px; */
  cursor: pointer;
}

.ticket {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.two_column_grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: auto-track-list;
  gap: 1rem 0;
  place-items: center;
}

.scrollable_grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  column-gap: 3rem;
  overflow-x: auto;
}
.carousel_container {
  position: relative;
  border-radius: 0.5rem 0 0 0.5rem;
  max-width: 11.5rem;
  width: 10rem;
  margin-top: 1rem;
}
